ul{
    background-color: rgb(42, 165, 52);
}
 article{
     background-color: royalblue;
 }
 section{
     background-color: tomato;
 }
 aside{
background-color: skyblue;
 }
 footer{
     background-color: yellow;
 }