ul{
    background-color: rgb(42, 165, 52);
}
 article{
     background-color: royalblue;
 }
 section{
     background-color: tomato;
 }
 aside{
background-color: skyblue;
 }
 footer{
     background-color: yellow;
 }

 div.container{
    width: 1000px;
    background-color: rgb(187, 15, 15);
    height:100%;
    margin-right:200px;
    
}
div{
    width: 300px;height: 300px;
}
.esquerda{
    background-color: green;
    float:right;
    
}
.direita{
    background-color: blue;
    float: right;
}